/* Vos customisations des classes de Bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rokkitt:wght@400;600;800&display=swap');

#home {
    background-image: url(../images/bg_header.jpg);
    background-position: top;
    background-size: cover;

}
#offcanvasNavbar{
    width: 10%;
    box-shadow:black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rokkitt';
}

h1 span {
    font-weight: 800;
}

p {
    font-family: 'Roboto';
}

#about {
    background-image: url(../images/bg_nuage.jpg);
    background-position: top;
    background-size: cover;

}
#about img{
    filter: brightness(50%);
}

.square {
    border: solid;
}

#history {
    background-image: url(../images/bg_appareil_photo.jpg);
    background-position: top;
    background-size: cover;
}



#contact {
    position: relative;
    overflow: hidden;
}

#contact img {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    width: 280%;
    /* Safari 6.0 - 9.0 */
    filter: brightness(70%);
}
#foot{
    background-color: #24323B;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

/* Responsive Styling */

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    #blog p{
        text-align: center;
    }
    #offcanvasNavbar{
        width: 40%;
    }
    #contact img {
        position: absolute;
        left: 0px;
        top: 0;
        z-index: -1;
        object-fit: cover;
        object-position: top;
        width: 400%;
        /* Safari 6.0 - 9.0 */
        filter: brightness(30%);
        filter: blur(5px);
    }
}